n8n/workflows/content-generation.json
{
  "name": "SiteFactory - Content Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000001",
      "name": "Webhook - Generate Content",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "generate-content"
    },
    {
      "parameters": {
        "jsCode": "// Validate content generation request\nconst body = $input.first().json.body;\nconst errors = [];\n\nif (!body.site_name || typeof body.site_name !== 'string') {\n  errors.push('\"site_name\" is required');\n}\nif (body.site_name && !/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(body.site_name)) {\n  errors.push('\"site_name\" must be lowercase alphanumeric with hyphens');\n}\nif (!body.topic || typeof body.topic !== 'string') {\n  errors.push('\"topic\" is required');\n}\n\nconst keywords = Array.isArray(body.keywords) ? body.keywords.join(',') : (body.keywords || '');\nconst wordCount = parseInt(body.word_count) || 1200;\n\nif (wordCount < 300 || wordCount > 5000) {\n  errors.push('\"word_count\" must be between 300 and 5000');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      valid: false,\n      errors: errors,\n      statusCode: 400\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    site_name: body.site_name,\n    topic: body.topic,\n    keywords: keywords,\n    word_count: wordCount,\n    statusCode: 200\n  }\n}];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000003",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, errors: $json.errors }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000004",
      "name": "Respond Error - Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 480]
    },
    {
      "parameters": {
        "command": "=cd {{ $env.SF_PROJECT_ROOT }} && ./scripts/generate-content.sh \"{{ $json.site_name }}\" \"{{ $json.topic }}\" \"{{ $json.keywords }}\" {{ $json.word_count }} 2>&1",
        "options": {
          "timeout": 180000
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000005",
      "name": "Run generate-content.sh",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [940, 160]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst exitCode = item.exitCode;\nconst stdout = item.stdout || '';\nconst stderr = item.stderr || '';\n\nconst validationData = $('Is Valid?').first().json;\n\nif (exitCode !== 0) {\n  return [{\n    json: {\n      success: false,\n      error: stderr || stdout || 'Content generation failed',\n      exitCode: exitCode,\n      statusCode: 500\n    }\n  }];\n}\n\n// Extract file path from output\nconst fileMatch = stdout.match(/Article saved: (.+\\.md)/);\nconst filePath = fileMatch ? fileMatch[1] : '';\nconst wordMatch = stdout.match(/(\\d+) words/);\nconst wordCount = wordMatch ? parseInt(wordMatch[1]) : 0;\n\nreturn [{\n  json: {\n    success: true,\n    site_name: validationData.site_name,\n    topic: validationData.topic,\n    file_path: filePath,\n    word_count: wordCount,\n    output: stdout,\n    message: `Article generated for ${validationData.site_name}`,\n    statusCode: 200\n  }\n}];"
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000006",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: $json.success, site_name: $json.site_name, topic: $json.topic, file_path: $json.file_path, word_count: $json.word_count, message: $json.message, error: $json.error || undefined }) }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "id": "b1b2c3d4-0002-4000-8000-000000000007",
      "name": "Respond Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 160]
    }
  ],
  "connections": {
    "Webhook - Generate Content": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Run generate-content.sh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run generate-content.sh": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Respond Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SiteFactory"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-19T00:00:00.000Z",
  "versionId": "2"
}
