n8n/workflows/monitoring-report.json
{
  "name": "SiteFactory - Daily Monitoring Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000001",
      "name": "Cron - Daily 8AM UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "command": "cd {{ $env.SF_PROJECT_ROOT }} && ./scripts/generate-dashboard.sh 2>&1",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000002",
      "name": "Generate Dashboard",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse the dashboard generation output and check for issues\nconst result = $input.first().json;\nconst exitCode = result.exitCode;\nconst stdout = result.stdout || '';\nconst stderr = result.stderr || '';\n\nconst output = {\n  dashboard_generated: exitCode === 0,\n  exit_code: exitCode,\n  output: stdout,\n  errors: stderr,\n  timestamp: new Date().toISOString()\n};\n\n// Try to read the metrics file for site count\ntry {\n  const fs = require('fs');\n  const metricsPath = '' + (process.env.SF_PROJECT_ROOT || '') + '/dashboard/data/metrics.json';\n  if (fs.existsSync(metricsPath)) {\n    const metrics = JSON.parse(fs.readFileSync(metricsPath, 'utf8'));\n    output.total_sites = metrics.sites ? metrics.sites.length : 0;\n    output.domain = metrics.domain || 'unknown';\n    output.generated_at = metrics.generated_at;\n\n    // Check monitors for downtime\n    const monitors = metrics.monitors || [];\n    const downSites = monitors.filter(m => m.status !== 2);\n    output.monitors_total = monitors.length;\n    output.monitors_down = downSites.length;\n    output.down_sites = downSites.map(m => ({\n      name: m.friendly_name,\n      status: m.status,\n      url: m.url\n    }));\n    output.has_issues = downSites.length > 0;\n  }\n} catch (e) {\n  output.metrics_read_error = e.message;\n}\n\nreturn [{ json: output }];"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000003",
      "name": "Parse Dashboard Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-issues",
              "leftValue": "={{ $json.has_issues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000004",
      "name": "Any Sites Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SF_ALERT_WEBHOOK_URL || 'https://hooks.example.com/alert' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"SiteFactory Alert: {{ $json.monitors_down }} site(s) are down!\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": \"SiteFactory - Sites Down Alert\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": \"{{ $json.monitors_down }} of {{ $json.monitors_total }} monitored sites are currently down.\\n\\nAffected sites:\\n{{ $json.down_sites.map(s => '- ' + s.name + ' (' + s.url + ')').join('\\n') }}\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": \"Dashboard generated at: {{ $json.generated_at }}\\nTotal sites: {{ $json.total_sites }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000005",
      "name": "Send Alert Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "jsCode": "// Log successful report with no issues\nconst data = $input.first().json;\nreturn [{\n  json: {\n    status: 'ok',\n    message: `Daily report generated. ${data.total_sites || 0} sites, all monitors healthy.`,\n    timestamp: data.timestamp\n  }\n}];"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000006",
      "name": "Log - All Healthy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 420]
    }
  ],
  "connections": {
    "Cron - Daily 8AM UTC": {
      "main": [
        [
          {
            "node": "Generate Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dashboard": {
      "main": [
        [
          {
            "node": "Parse Dashboard Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Dashboard Results": {
      "main": [
        [
          {
            "node": "Any Sites Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Sites Down?": {
      "main": [
        [
          {
            "node": "Send Alert Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log - All Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SiteFactory"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-19T00:00:00.000Z",
  "versionId": "1"
}
