n8n/workflows/new-site-pipeline.json
{
  "name": "SiteFactory - Launch Site Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "launch-site",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook - Launch Site",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "launch-site"
    },
    {
      "parameters": {
        "jsCode": "// Validate incoming request for site launch\nconst body = $input.first().json.body;\n\nconst errors = [];\n\n// Required fields\nif (!body.type || !['hugo', 'fork'].includes(body.type)) {\n  errors.push('\"type\" must be \"hugo\" or \"fork\"');\n}\nif (!body.name || typeof body.name !== 'string') {\n  errors.push('\"name\" is required');\n}\n\n// Validate site name format: lowercase alphanumeric with hyphens\nif (body.name && !/^[a-z0-9][a-z0-9-]*[a-z0-9]$/.test(body.name)) {\n  errors.push('\"name\" must be lowercase alphanumeric with hyphens (e.g. \"tech-tips\")');\n}\n\n// For fork type, source URL is required\nif (body.type === 'fork' && !body.source) {\n  errors.push('\"source\" (GitHub URL) is required for fork type');\n}\n\nif (body.type === 'fork' && body.source && !/^https:\\/\\/github\\.com\\//.test(body.source)) {\n  errors.push('\"source\" must be a valid GitHub URL (https://github.com/...)');\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      valid: false,\n      errors: errors,\n      statusCode: 400\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    type: body.type,\n    name: body.name,\n    title: body.title || body.name,\n    description: body.description || '',\n    source: body.source || '',\n    language: body.language || 'en',\n    statusCode: 200\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, errors: $json.errors }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Respond Error - Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 480]
    },
    {
      "parameters": {
        "command": "={{ (() => { const d = $json; const root = $env.SF_PROJECT_ROOT; if (d.type === 'fork') { return `cd ${root} && ./scripts/launch-site.sh fork \"${d.source}\" \"${d.name}\" \"${d.title}\" \"${d.description}\" 2>&1`; } else { return `cd ${root} && ./scripts/launch-site.sh hugo \"${d.name}\" \"${d.title}\" \"${d.description}\" \"${d.language}\" 2>&1`; } })() }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Run launch-site.sh",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [940, 180]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst exitCode = item.exitCode;\nconst stdout = item.stdout || '';\nconst stderr = item.stderr || '';\n\n// Retrieve original request data from earlier node\nconst validationData = $('Is Valid?').first().json;\nconst siteName = validationData.name;\nconst siteType = validationData.type;\nconst domain = $env.SF_DOMAIN || 'example.com';\n\nif (exitCode !== 0) {\n  return [{\n    json: {\n      success: false,\n      error: stderr || stdout || 'Launch pipeline failed',\n      exitCode: exitCode,\n      statusCode: 500\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    site_name: siteName,\n    site_type: siteType,\n    url: `https://${siteName}.${domain}`,\n    site_directory: `sites/${siteName}`,\n    message: `Site '${siteName}' launched successfully (created + deployed)`,\n    output: stdout,\n    statusCode: 200\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: $json.success, site_name: $json.site_name, site_type: $json.site_type, url: $json.url, site_directory: $json.site_directory, message: $json.message, error: $json.error || undefined }) }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Respond Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 180]
    }
  ],
  "connections": {
    "Webhook - Launch Site": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Run launch-site.sh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error - Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run launch-site.sh": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Respond Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "SiteFactory"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-19T00:00:00.000Z",
  "versionId": "2"
}
